# Dependencies
node_modules/

# Build
www/
dist/
.angular/

# Native
ios/
android/
*.xcworkspace
*.xcodeproj

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/
.nyc_output/

# Misc
*.log
npm-debug.log*
.claude
CLAUDE.md
